.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
}

main {
    background-color: #F5F5F6;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

button {
    width: 100px;
}

button .listNotEmpty {
    margin-right: 10px;
    margin-left: auto;
}

main section {
    display: grid;
    grid-template-columns: repeat(5,minmax(100px, 1fr));
    align-items: center;
    column-gap: 8px;
    text-align: center;
}


